torch
transformers
safetensors
accelerate
bitsandbytes
python-pptx
PyPDF2
gradio
langchain
langchain-community
ollama
unstructured[all-docs]
pdf2image
pytesseract
flask-sqlalchemy 
chromadb